.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/** Homepage UI **/

.jobs-logo {
  margin: auto;
  display: block;
}

.jobs-text {
  font-size: 12px;
  color: #007bff;
  padding-top: 40px;
}

.logo-column {
  padding-top: 30px;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 20px 0;
  color: #007bff;
  font-size: 12px
  
}
.separator::before, .separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
  border-color: #007bff;
}

.separator::before {
  margin-right: .5em;
}

.separator::after {
  margin-left: .5em;
}

/* Search Results Page */
#resultsList {
  height: 50vh;
  overflow: scroll !important;
}

#loadingArea {
  text-align: center;
}

.loadingAnim {
  width: 50%;
}

#settingsImage {
  text-align: right;
  height: inherit;
}

#settingsImage img {
    height: 100%;
}

.searchResult {
    color: black;
}

.results-header {
  color: #007bff;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.settings-icon {
  width: 100%;
  height: auto;
}

/** Details Page **/
.nopad {
  padding-left:0px!important;
  padding-right:0px!important;
}

.nomarg {
  margin:auto;
  display:block;
}

.center {
  text-align:center;
}

.topPad {
  padding-top: 20px;
}

/** Events Page UI **/

.events-text {
  color: #007bff;
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.events-cards, .search-results-cards {
  margin-bottom: 20px;
}

.events-container {
  height: 100%;
  position: absolute;
}

.events-panel {
  height: 80%;
  overflow: scroll;
}
